{% extends 'base.html.twig' %}

{% block main %}
    <div class="bs-stepper vertical">
        <div class="col-4 bs-stepper-header" role="tablist">
            <!-- your steps here -->
            <div class="step" data-target="#url-input">
                <div class="step-trigger" role="tab" aria-controls="url-input" id="url-input-trigger">
                    <span class="bs-stepper-circle">
                        <span class="oi oi-map-marker" aria-hidden="true"></span>
                    </span>
                    <span class="bs-stepper-label">Instance URL</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#check">
                <div class="step-trigger" role="tab" aria-controls="check" id="check-trigger">
                    <span class="bs-stepper-circle">
                        <span class="oi oi-wrench" aria-hidden="true"></span>
                    </span>
                    <span class="bs-stepper-label">Checks</span>
                </div>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#results">
                <div class="step-trigger" role="tab" aria-controls="results" id="results-trigger">
                    <span class="bs-stepper-circle">
                        <span class="oi oi-ellipses" aria-hidden="true"></span>
                    </span>
                    <span class="bs-stepper-label">Results</span>
                </div>
            </div>
        </div>
        <div class="col-8 bs-stepper-content">
            <section id="url-input" class="content" role="tabpanel" aria-labelledby="url-input-trigger">
                <p>
                    Enter your instance url here.
                    The server will check it, and if your instance responds well,
                    ask you if you agree to add it to the index.
                </p>
                <input class="form-control form-control-lg" type="text" placeholder="https://myinstance.example.org">
            </section>
            <section id="check" class="content" role="tabpanel" aria-labelledby="check-trigger">
                <p class="lead">Checking your analytics instance hosted at <code>matomo.example.org</code>...</p>
            </section>
            <section id="results" class="content" role="tabpanel" aria-labelledby="check-trigger">
                <p class="lead text-success">
                    <span class="oi oi-check" aria-hidden="true"></span>
                    Your instance can be added to this index.
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="oi oi-check" aria-hidden="true"></span>
                        Url: <code>https://matomo.example.org</code>
                    </li>
                    <li class="list-group-item">
                        <span class="oi oi-check" aria-hidden="true"></span>
                        Matomo instance
                    </li>
                    <li class="list-group-item">
                        <span class="oi oi-check" aria-hidden="true"></span>
                        Signup plugin enabled
                    </li>
                    <li class="list-group-item">
                        <span class="oi oi-check" aria-hidden="true"></span>
                        Your instance allows new users to signup
                    </li>
                </ul>
                <button class="btn btn-success btn-lg mt-2">Add my instance to this index</button>
            </section>
        </div>
    </div>
{% endblock %}
