{% extends 'base.html.twig' %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Software</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="instance in instances">
                <th>Matomo</th>
                <td>
                    <a v-bind:href="instance.url" target="_blank">${ instance.url }</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
