<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="List of Matomo instances that hosters want to share.">
        <meta name="author" content="Alcalyn">

        <title>Matomo instances index</title>

        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
            <header class="mb-5">
                <h1>Analytics instances index</h1>
            
                <nav class="row">
                    <div class="col">
                        <h2>I need analytics for my website</h2>
                        <p>
                            People have installed and are hosting their own instance,
                            and let other people like you to have an account.
                        </p>
                        <a href="{{ path('app_front_index') }}">Join an instance that someone is sharing.</a>
                    </div>
                    <div class="col">
                        <h2>I want to share my analytics instance</h2>
                        <p>
                            I am self-hosting my own instance of analytics,
                            sharing it and want to appear in this index.
                        </p>
                        <a href="{{ path('app_front_add') }}">Add my instance to this index</a>
                    </div>
                </nav>
            </header>
            
            <main>
                {% block main %}
                {% endblock %}
            </main>
            
            <footer>
                <p>Thanks to people that are sharing their instances!</p>
            </footer>
        </div>

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
